<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>EDU WORKFLOW</title>
    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- <% if (false) { %> -->
    <link rel="stylesheet" type="text/css" href="/static/bundle.css">
    <!-- <% } %> -->
  </head>
  <body>
    <div id="container"></div>
    <!-- <% if (false) { %> -->
    <script src="/static/bundle.js"></script>
    <!-- <% } %> -->
  </body>
</html>
